* {
    box-sizing: border-box;
}


.section-MedicalFacility {
    background-color: #f5f5f5;
    padding-top: 25px;

    .MedicalFacility-header {
        height: 60px;
        width: 1000px !important;
        margin: 0 auto !important;

        .title-section {
            font-size: 22px;
            font-weight: 600;
        }

        .btn-section {
            float: right;
            padding: 10px 15px;
            border: none;
            outline: none;
            display: block;
            background-color: #ebebeb;
            color: black;
            cursor: pointer;
            text-transform: uppercase;

            &:hover {
                color: white;
                background-color: #f7d800;
            }
        }
    }
}

.MedicalFacility-body {

    width: 1000px !important;
    margin: 0 auto !important;

    .slick-item {
        padding: 3px;

        .bg-image {
            background-image: url("../../../assets/images/120331-co-xuong-khop.jpg");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 180px;
        }
    }
}

// reset slick slide css
.slick-prev {
    border: 2px solid #bfbdbd !important;
    left: 0 !important;
    z-index: 100 !important;
    width: 40px !important;
    height: 60px !important;
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover {
    background-color: rgb(236, 208, 208) !important;
}

.slick-next {
    border: 2px solid #bfbdbd !important;
    right: 0 !important;
    z-index: 100 !important;
    width: 40px !important;
    height: 60px !important;
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-next:hover {
    background-color: rgb(236, 208, 208) !important;
}